.Home-table,
.Home-table-head,
.Home-table-body,
.Home-table-row th {
  /* overflow-x: auto;
  white-space: nowrap; */
}

.address {
  word-break: break-word;
}

input.form-control {
  margin: 0 auto;
  max-width: 500px;
}
